/** ================================================================ */
/** This stylesheet is used for both index.html and suggestions.html */
/** ================================================================ */

/** Styling to indicate current page item in nav bar with 
bolded text in white background with rounded corner*/
#current {
  font-weight: bold;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  height: fit-content;
  width: fit-content;
  padding-left: 5px;
  padding-right: 5px;
}

/** Styling for header section which should always be centered */
.header {
  text-align: center;
  margin-top: 8pt;
  margin-bottom: 10pt;

  /** h1 Styling under header */
  h1 {
    font-weight: bold;
    font-family: Verdana, sans-serif; /** Priority for Verdana font, else default sans-serif */
  }

  /** animation when h1 is hovered over */
  h1:hover {
    animation-name: colorchange;
    animation-delay: 2s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }

  /** h2 Styling under header */
  h2 {
    font-style: italic;
    font-family: Verdana, sans-serif; /** Priority for Verdana font, else default sans-serif */
    font-size: large;
  }
}

.main {
  /** Styling for parapraph inside the main section */
  p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  /** Styling for the buttons inside the main section */
  .btn {
    font-family: Verdana, sans-serif; /** Priority for Verdana font, else default sans-serif */
    margin-top: 8px;
  }

  /** Styling for outro paragraph before footer */
  .outro {
    height: 90px;
  }

  /** Styling for the form inside the main section */
  form {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-radius: 5px;
    padding: 10px 10px 1px 10px;
    background-color: rgba(211, 211, 211, 0.3);
    height: fit-content;

    /** Styling for the form labels */
    .col-form-label {
      font-weight: bold;
    }

    /** Styling for buttons inside the form */
    /* .btn {
      margin-top: 0px;
      margin-right: 0px;
      margin-left: auto;
    } */
  }
}

/** Styling for carousel */
.carousel {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 95%;
  height: 90%;

  /** Styling for carousel captions */
  .carousel-caption {
    text-shadow: 0px 1px 2px #000000;

    h5 {
      font-size: 0.9rem;
    }

    p {
      font-size: 0.75rem;
    }

    i {
      font-size: 1.75rem;
    }
  }

  /** Styling for carousel images */
  img {
    border-radius: 5px;
  }

  /** Carousel controls buttons should have a black
    background with 30% transparency when hovered over */
  .carousel-control:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

/** Styling for the reaction (like/dislike) buttons*/
.reaction-button {
  cursor: pointer; /** Indicates that the button is clickable */
  margin-right: 10px;
}

/** Styling for the footer with fixed position 
at the bottom with centered text*/
#footer {
  background-color: #353a40;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

/** colorchange animation*/
@keyframes colorchange {
  0% {
    color: black;
  }
  20% {
    color: blue;
  }
  40% {
    color: red;
  }
  60% {
    color: orange;
  }
  80% {
    color: green;
  }
  100% {
    color: black;
  }
}
